---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
lang: en
lang_ref: talks
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<h2>Invited talks</h2>
{% for post in site.talks reversed %}
  {% assign item_lang = post.lang | default: "en" %}
  {% if item_lang == page.lang and post.talk_group == "invited" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}

<h2>Conference presentations</h2>
{% for post in site.talks reversed %}
  {% assign item_lang = post.lang | default: "en" %}
  {% if item_lang == page.lang and post.talk_group == "conference" %}
    {% include archive-single-talk.html %}
  {% endif %}
{% endfor %}
